<div>
  <p>Your throw: <span><%= @user_sign.name %></span> <span><%= @user_sign.value %></span></p>
  <p>My throw: <span><%= @rand_sign.name %></span> <span><%= @rand_sign.value %></span></p>
  <p>You <%= @result %>!</p>
  <p><%= link_to 'New Game', :root, class: "btn btn-success"%></p>
</div>
